/* selector{property:value;} */
body{
    background-color: #A5F1E9;
    padding:10px;
}
hr{
    background-color: #A5F1E9;
    width: 7%;
    border-color: grey;
    border-style: none;
    border-top-style: dotted;
    border-width: 3px;
}

a:hover{
    color:white;
}

a:active{
    color:black;
}

a:visited{
    color:green;
}

img{
    border-radius:15%;
}

img:hover{
    background-color:gold;
    border-radius: 40% ;
}